{% extends 'tcapp/base_tcapp.html' %}

{% block title %}
    Tasks list
{% endblock %}

{% block content %}

    <h3 class="mb-4 pl-3">Your Tasks:</h3>

    {% for task in tasks %}

        <div class="card mb-3" style="width: 30rem; border: none;">
            <div class="card-body">
                <h4 class="card-title">{{ task.title|title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ task.date_pub.date }}</h6>
                <h6 class="card-subtitle mb-2 text-muted danger">{{ task.date_pub.time }}</h6>
                <p class="card-text">{{ task.body|truncatewords:10|truncatechars:80|title }}.</p>
                <a href="{{ task.get_absolute_url }}" class="card-link">Open</a>
                <a href="{{ task.get_update_url }}" class="card-link">Edit</a>
            </div>
        </div>

    {% endfor %}

{% endblock %}