{% extends 'tcapp/base_tcapp.html' %}

{% block title %}
    Edit task "{{ task.title|title }}" - {{ block.super }}
{% endblock %}


{% block content %}

    <form action="{{ task.get_update_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                    {{ field.label }}
                    {{ field }}
            </div>
        {% endfor %}

        <div class="upd-form-bottom-btn">
            <div class="btn-content">
                <button type="submit" class="btn btn-outline-primary">Update</button>
                <a href="{% url 'tasks_list_url' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
        </div>
    </form>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ task.title|title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want delete "<b>{{ task.title|title }}</b>" task?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>

                    <form action="{{ task.get_delete_url }}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

